

/* Header Sytling */

a.nav-link {
    color: #ba0a0a;
    font-family: fantasy;
}


/* Hero Styling */


img.d-block.w-100.img-fluid {
    max-height:400px; 
}
.carousel-caption {
    background-color: #101010a1 ;
}
a.carousel-control-prev,
a.carousel-control-next {
    background-color: #101010;
    outline: none;
    box-shadow: none;
}
.carousel-item {
    max-height: 400px;
}

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

/* For Smaller Screens */
@media  screen and (max-width: 699px) {
    .carousel-caption{
        display:contents;
        color: black !important ;
        background-color: aqua;
        padding-top: 6px;
    }
    .carousel-control-prev, .carousel-control-next{
        top:auto;

    }
}